<!DOCTYPE html>

{% extends 'extend_templates/info_page.html' %}

{% load crispy_forms_tags %}

{% block page_content_block %}
	{% if logged_in %}
	<h4>Welcome {{ user.username }}! You are currently logged in.</h4>
	<a class='btn btn-primary' href='{% url 'account' %}'>View Your Account</a>
	{% else %}
		{% if login_errors %}
		<h5 style='color:red;'>Invalid username/password combination. Please try again.</h5>
		{% else %}
		<div style='padding-bottom:20px;'>
			<div style='display:inline;'>Current users please sign in below. First time here?&nbsp&nbsp&nbsp</div>
			<div style='position:absolute;float:left;display:inline;margin-top:-4px;'>
				<a href='{% url 'registration_register' %}' role='button'><button class="btn btn-sm btn-danger" role='button'>Sign Up now!</button></a>
			</div>
		</div>
		{% endif %}
	<form class='login_form' method="post" action=".">
		{% csrf_token %}
		{{ form|crispy }}
		<button type="submit" class="btn btn-primary">Log In</button>
	</form>
	{% endif %}
{% endblock page_content_block %}