<div class='container-fluid call-to-action-banner'>
  <div>
    {% if form_errors %}
    <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#contact_modal">
      Form Error/s, please try again!
    </button>
    {% elif first_name %}
    Thank you for getting in touch {{ first_name }}. We'll get back to you within one business day.
    {% elif user.is_authenticated %}
    Welcome {{ user.first_name }}! Don't miss out on our <a class='btn btn-warning' href="{% url 'specials' %}" style='color:#fff'>awesome specials</a>
    {% else %}
    <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#contact_modal">{{ call_to_action_button_text }}</button>
    {{ call_to_action_text }}
    {% endif %}
  </div>
</div>

{% include 'contact_form/contact_form.html' with contact_form=contact_form %}
