img {
	width: 50%;
	height: auto;
	margin-left: 25%;
}

body div {
	text-align: center;
}

a:link, a:visited {
	text-decoration: none;
	color: #666666;
}

a:hover, a:active {
	text-decoration: none;
	color: #ffffff;
	background-color: #666666;
}

#nav_logo {

}

#nav_links {
	
}