{% load static %}

<div class='left_sidebar'>
	<div style='margin-top:40px;'>
		<img src='{% static left_sidebar_img_file %}' />
		{% if form_errors %}
    	<button type="button" class="btn btn-warning" data-toggle="modal" data-target="#contact_modal">
    		Form Error/s, please try again!
    	</button>
    	{% elif first_name %}
    	<a href="../about">
    		<button type="button" class="btn btn-warning">
    			Thank you for getting in touch {{ first_name }}.
    		</button>
    	</a>
    	We'll be in touch within one business day.
    	{% else %}
    	<button type="button" class="btn btn-warning" data-toggle="modal" data-target="#contact_modal">{{ call_to_action_button_text }}</button>
    	{% endif %}
    </div>
</div>